



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(230, 230, 230);
}



/* jumbotron header */

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#moment-time {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}

/* color legend */
#color-legend {
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  height: 50px;
}

#color-legend div {
  width: 33%;
  padding: 10px 0 10px 0;
}

#gray-column {
  background-color: gray;
}

#red-column {
  background-color: red;
}

#green-column {
  background-color: green;
}



/* time blocks table */
.table-bordered td {
  border-color: black;
  vertical-align: middle;
}

.container {
  width: 95%;
  margin: 20px;
}

tr {
  font-size: 25px;
}


/* Edit event modal */
#eventDescription {
  margin-top: 5px;
  width: 100%;
  height: 50px;
}


